.flex-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    .column-33{
        float: left;
        width: 33%;
    }
    .column-67{
        float: left;
        width:67%;
    }
}

.active-heading{
    text-align: center;
    font-size: 25px;
    margin-left: 38%;
    .mat-card{
        width: 240px;
        border-radius: 50px;
    }
}

.cases{
    color:#e8808a
}

.deaths{
    color:red
}

.recovered{
    color:green
}
